[build]
target = "xtensa-esp32s3-espidf"
rustdocflags = ["--default-theme=ayu"]

[target.xtensa-esp32s3-espidf]
linker = "ldproxy"
runner = "espflash flash --monitor"
rustflags = ["--cfg", "espidf_time64"]

[unstable]
build-std = ["std", "panic_abort"]

[env]
MCU = "esp32s3"
ESP_IDF_SDKCONFIG_DEFAULTS = "sdkconfig.defaults"
# Note: this variable is not used by the pio builder (`cargo build --features pio`)
ESP_IDF_VERSION = "v5.4.2"
ESP_IDF_PATH_ISSUES = 'warn'        # or 'ignore' or 'error' (default is 'error')
TARGET_CC = "xtensa-esp32s3-elf-cc"
TARGET_AR = "xtensa-esp32s3-elf-ar"
TARGET_CFLAGS = "-mlongcalls"
#EMBASSY_EXECUTOR_TASK_ARENA_SIZE="20480"
#EMBASSY_EXECUTOR_TASK_ARENA_SIZE = "43210"

[alias]
test_pc = "test --target=x86_64-pc-windows-msvc"
